.markdown p:not(:last-of-type) {
  margin-bottom: 16px;
}

.markdown a {
  color: #1976d2;
  font-weight: 600;
  text-decoration: underline;
}

.markdown h2 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
}

.markdown h2::before {
  content: '#';
}

.markdown ul {
  margin-bottom: 16px;
}

.markdown li::before {
  content: '・';
}
